* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}
h1{
    text-align: center;
    margin: 40px 0;
    font-size: 1.0rem;
}
.grid{
    display: grid;
    flex-direction: column;
    gap: 20px;
}
.grid .card{
    background-color: #dda3a3;
    padding: 50px 20px;
    border-radius: 10px;
    border-left: 5px solid #4c4343
}
@media (min-width: 768px){
    h1{
        font-size: 3rem;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
    .card{
        border-left: none;
        border-top: 5px solid #4c4343;
    }
}
